/* DashboardPage.css */

.dashboard-page {
  background-color: #eaf2f8; /* Fondo azul claro */
  padding: 20px;
}

.sales-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.sale-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos adicionales para los márgenes rojos */
.dashboard-page {
  margin: 20px;
  border: 1px solid red;
}
